html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img{
    padding: 10px;
    border-radius: 7%;
    animation: fananim linear infinite;
    animation-duration: 3s; /* Initial animation duration */
    position: relative;
    left: 160px;
    top: 300px;
}
.bg{
    background: url(./image/OIP\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}
@keyframes fananim{
    100% {
        transform: rotate(360deg);
    }
}